@import "utils/mixins";

.faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-container {
        background-color: $color-white-10;
        color: $color-text;
        border-radius: $border-radius-el;
        border: 1px solid $color-white-5;

        @include blur();
    }
}

.question {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    > i {
        transition: $transition;
    }

    &.active>i {
        transform: rotate(-45deg);
    }
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: $transition;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
    font-size: 14px;

    > * {
        font-size: inherit;
    }
}

.faq-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: $color-primary;
    margin-bottom: 10px;
}